<%= link_to finances_path, class: "text-icon mx-2" do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>

<div class="container mt-5">
  <div class="form-container w-50 m-auto">
    <h3><strong>Edite Sua Entrada/Saída</strong></h3>
    <%= render "form", finance: @finance %>
  </div>
</div>
