<div class="flex-grow-1 row h-100 w-100 m-0">
  <div class="d-flex flex-column justify-content-center col-12 col-md-6 p-4 align-items-center">
    <h1 class="mb-4">Finanças</h1>
    <%= link_to "Entradas", inflow_finances_path, class: "btn1 btn-10rem mb-3" %>
    <%= link_to "Saídas", outflow_finances_path, class: "btn1 btn-10rem mb-3" %>
  </div>
  <div id="finance-image" class="col-12 col-md-6">
  </div>
</div>
