<div class="home-bg">
<div class="row justify-content-center">
  <div class="col-sm-6 mt-3">
    <h1><strong>Adicione Sua Nova Entreada/Saída</strong></h1>


    <%= render "form", finance: @finance %>

      <div>
        <%= link_to "Voltar às Finanças", finances_path, class: "btn btn-secondary mt-3 mb-3" %>
      </div>

    </div>
  </div>
</div>
