<div class="container mt-5 mb-5">
  <div class="form-container col-12 col-md-10 col-lg-6 mx-auto">
    <h3><strong>Adicione Sua Entrada</strong></h3>
    <%= render "form", finance: @finance %>
  </div>
</div>
