<div class="container mt-5 mb-5">
  <div class="form-container col-12 col-md-6 mx-auto">
    <h3><strong>Adicione Sua Saída</strong></h3>

    <%= render "form-outflow", finance: @finance %>
  </div>
</div>
