  <%= link_to tasks_path, class: "text-icon mx-2" do %>
    <i class="fa-solid fa-arrow-left-long"></i>
  <% end %>

<div class="container mt-1">
  <div class="form-container w-50 m-auto">

    <h3><strong>Edite sua tarefa</strong></h3>
    <%= render "form", task: @task %>

  </div>
</div>
