 <%= link_to "Voltar as tarefas", edit_task_path %>

<div class="row justify-content-center w-100">
  <div class="col-6 mt-3">
    <h3><strong>Edite sua tarefa</strong></h3>
    <%= render "form", task: @task %>


  </div>
</div>
