<%= link_to "Voltar as tarefas", edit_task_path %>

<div class="container mt-5">
  <div class="form-container w-50 m-auto">

    <h3><strong>Edite sua tarefa</strong></h3>
    <%= render "form", task: @task %>

  </div>
</div>
