<%= link_to "Voltar as tarefas", tasks_path %>

<div class="row justify-content-center w-100">
  <div class="col-6 mt-3">

    <h3><strong>Hoje, <%= Date.today %></strong></h3>
    <%= render "form", task: @task %>

  </div>
</div>
