<div class="row justify-content-center w-100">
  <div class="col-6 mt-3">
    <h1><strong>Adicione uma nova tarefa</strong></h1>
      <%= render "form", task: @task %>

    <div>
      <%= link_to "Voltar as tarefas", tasks_path, class: "btn btn2 mt-3 mb-3" %>
   </div>


  </div>
</div>
