<%= link_to "Voltar as tarefas", tasks_path %>

<div class="container mt-5">
  <div class="form-container w-50 m-auto">


    <h3><strong>Hoje, <%= Date.today %></strong></h3>
    <%= render "form", task: @task %>


  </div>
</div>
