<div class="footer">
    <a href="#"> Quem Somos<i class="footer-copyright"></i></a>
    <a href="#"> Recursos <i class="footer-copyright"></i></a>
    <a href="#"> FAQ <i class="footer-copyright"></i></a>
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
  </div>
