<div class="footer">
  <div class="footer-links">
    <a href="/quemsomos"> Quem Somos<i class="footer-copyright"></i></a>
    <a href="/recursos"> Recursos <i class="footer-copyright"></i></a>
    <a href="/faq"> FAQ <i class="footer-copyright"></i></a>
  </div>
  <div class="footer-social">
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  </div>
</div>
