<div class="footer">
  <div class="footer-links">
    <a href="/footerpage"> Quem Somos<i class="footer-copyright"></i></a>
    <a href="/footerpage"> Recursos <i class="footer-copyright"></i></a>
    <a href="/footerpage"> FAQ <i class="footer-copyright"></i></a>
  </div>
  <div class="footer-social">
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
