<div class="flex-grow-1 row h-100 w-100 m-0">
  <div id="task-image" class="col-12 col-md-6">
        <%= link_to "Nova tarefa", new_task_path, class: "btn btn1 mt-3 mb-3" %>
        <%= link_to "Tarefas", tasks_path, class: "btn btn2 mt-3 mb-3" %>
  </div>
  <div id="finance-image" class="col-12 col-md-6">
  </div>
</div>
