<div class="container col-6">
  <h1 class="faq-heading mt-5 mb-5">Perguntas Frequentes</h1>
    <section class="faq-container">
      <div class="faq-one mt-5 mb-5">

          <%# First FAQ Question %>

          <h3 class="faq-page"><strong>1. Como faço para me cadastrar?</strong></h3>
            <div class="faq-body">
              <p>Na página inicial (Home), no navbar, clique em "Cadastre-se" e preencha os campos
              solicitados. Após isso, você será redirecionado para a página de login.</p>
            </div>

      </div>

      <hr class="hr-line">

      <div class="faq-two mt-5 mb-5">

          <%# Second FAQ Question %>

          <h3 class="faq-page"><strong>2. Como faço para adicionar/editar/remover uma tarefa?</strong></h3>
            <div class="faq-body">
              <p><strong>Para adicionar:</strong> Na página inicial(Home), no navbar, clique em "Tarefas" e preencha os campos
              solicitados, clique em "Salvar". Após isso, você será redirecionado para a página de tarefas.
              <p><strong>Para editar:</strong> Na página de Tarefas, clique no ícone verde e preencha os campos que deseja modificar.
              Clique em "Salvar". Após isso, você será redirecionado para a página de tarefas.</p>
              <p><strong>Para deletar:</strong> Na página de Tarefas, clique no ícone vermelho. Surgirá uma mensagem
              de confirmação da atividade.Confirme a atividade e você será redirecionado para a página de tarefas.</p>
            </div>

      </div>

      <hr class="hr-line">

      <div class="faq-three mt-5 mb-5">

          <%# Third FAQ Question %>

          <h3 class="faq-page"><strong>3. Como faço para adicionar/editar/remover uma entrada?</strong></h3>
            <div class="faq-body">
              <p><strong>Para adicionar:</strong> Na página de finanças, clique em "Entradas".Após clique em "Nova entrada" e preencha os campos solicitados,
              clique em "Salvar". Após isso, você será redirecionado para a página de Entradas.</p>
              <p><strong>Para editar:</strong> Na pagina de Entradas, clique no ícone verde e adicione os campos que deseja modificar. Clique em "Salvar".
              Após isso, você será redirecionado para a página de Entradas.</p>
              <p><strong>Para deletar:</strong> Na página de Entradas, clique no ícone vermelho. Surgirá uma mensagem de confirmação da atividade.
              Confirme a atividade e você será redirecionado para a página de Entradas.</p>
            </div>

      </div>

      <hr class="hr-line">

      <div class="faq-four mt-5 mb-5">

          <%# Fourth FAQ Question %>

          <h3 class="faq-page"><strong>4. Como faço para adicionar/editar/remover uma saída?</strong></h3>
            <div class="faq-body">
              <p><strong>Para adicionar:</strong> Na página de finanças, clique em "Saídas".Após clique em "Nova saída" e preencha os campos solicitados,
              clique em "Salvar". Após isso, você será redirecionado para a página de Saídas.</p>
              <p><strong>Para editar:</strong> Na pagina de Saídas, clique no ícone verde e adicione os campos que deseja modificar. Clique em "Salvar".
              Após isso, você será redirecionado para a página de Saídas.</p>
              <p><strong>Para deletar:</strong> Na página de Saídas, clique no ícone vermelho. Surgirá uma mensagem de confirmação da atividade.
              Confirme a atividade e você será redirecionado para a página de Saídas.</p>
            </div>

      </div>

      <hr class="hr-line">

    </section>
  <script src="../../javascript/main.js"></script>
</div>
