<div>
  <h1 class="faq-heading"><strong>Perguntas Frequentes</strong></h1>
    <section class="faq-container">
      <div class="faq-one">

        <%# First FAQ Question %>

        <h4 class="faq-page"><strong>1. Como faço para me cadastrar?</strong></h4>
          <div class="faq-body">
            <p class="faq-text">Na página inicial (Home), na barra de navegação, clique em "Cadastre-se" e preencha os campos
            solicitados. Após isso, você será redirecionado para a página de login.</p>
          </div>

      </div>

      <hr class="hr-line">

      <div class="faq-two">

        <%# Second FAQ Question %>

        <h4 class="faq-page"><strong>2. Como faço para adicionar/editar/remover uma tarefa?</strong></h4>
          <div class="faq-body">
            <p class="faq-text"><strong>Para adicionar:</strong> na página inicial, na barra de navegação, clique em "Tarefas", preencha os campos solicitados e clique em "Salvar". Em seguida, você será redirecionado à página de tarefas.
            <p class="faq-text"><strong>Para editar:</strong> na página de tarefas, clique no ícone verde e preencha os campos que deseja modificar. Em seguida, clique em "Salvar"; você será então redirecionado de volta à página de tarefas.</p>
            <p class="faq-text"><strong>Para deletar:</strong> na página de tarefas, clique no ícone vermelho. Surgirá uma mensagem de confirmação de que você deseja deletar sua tarefa. Se confirmar, a tarefa será deletada.</p>
          </div>

      </div>

      <hr class="hr-line">

      <div class="faq-three">

        <%# Third FAQ Question %>

        <h4 class="faq-page"><strong>3. Como faço para adicionar/editar/remover uma entrada?</strong></h4>
          <div class="faq-body">
            <p class="faq-text"><strong>Para adicionar:</strong> na página de finanças, clique em "Entradas". Em seguida, clique em "Nova Entrada" e preencha os campos solicitados. Ao final, clique em "Salvar"; você será então redirecionado à página de Entradas.</p>
            <p class="faq-text"><strong>Para editar:</strong> na pagina de entradas, clique no ícone verde e modifique os campos desejados. Clique em "Salvar". Na sequência, você será redirecionado à página de entradas.</p>
            <p class="faq-text"><strong>Para deletar:</strong> na página de entradas, clique no ícone vermelho. Surgirá uma mensagem de confirmação que você deseja deletar sua entrada. Se confirmar, a entrada será deletada.</p>
          </div>

      </div>

      <hr class="hr-line">

      <div class="faq-four">

        <%# Fourth FAQ Question %>

        <h4 class="faq-page"><strong>4. Como faço para adicionar/editar/remover uma saída?</strong></h4>
          <div class="faq-body">
            <p class="faq-text"><strong>Para adicionar:</strong> na página de finanças, clique em "Saídas". Em seguida, clique em "Nova Saída" e preencha os campos solicitados. Ao final, clique em "Salvar"; você será então redirecionado à página de Saídas.</p>
            <p class="faq-text"><strong>Para editar:</strong> na pagina de saídas, clique no ícone verde e modifique os campos desejados. Clique em "Salvar". Na sequência, você será redirecionado à página de saídas.</p>
            <p class="faq-text"><strong>Para deletar:</strong> na página de saídas, clique no ícone vermelho. Surgirá uma mensagem de confirmação que você deseja deletar sua saída. Se confirmar, a saída será deletada.</p>
          </div>

      </div>

      <hr class="hr-line">

    </section>
</div>
