<div class="container col-6">
  <div class="text-center mt-5 mb-5">
    <h2 class="mb-5">Quem somos</h2>
    <p>Somos uma aplicação que visa auxiliar na organização de tarefas diárias,
    bem como no controle de finanças.
    A ideia do Control+ surgiu por meio de três colegas de curso do Le Wagon,
    que resolveram criar um projeto para ajudar as pessoas nesses dois setores.
    Perceberam que isso era um problema recorrente na vida de muitas pessoas,
    devido a falta de tempo. Dessa forma, o Control+ surge com uma funcionalidade
    simples e prática para o usuário mudar de vida.</p>
    <h2 class="mt-5 mb-5">Recursos</h2>
    <p>www.organizese.com.br</p>
    <p>www.aprenderfinanças.com.br</p>
    <p>www.youtube.com.br/c/financascomlucas/videos</p>
    <p>www.youtube.com.br/c/tarefascheck/videos</p>
    <h2 class="mt-5 mb-5">Perguntas frequentes</h2>
    
      <p><strong>1. Como faço para me cadastrar?</strong></p>
      <p>Na página inicial(Home), no navbar, clique em "Cadastre-se" e preencha os campos
      solicitados. Após isso, você será redirecionado para a página de login.</p>
      <p><strong>2. Como faço para adicionar/editar/remover uma tarefa?</strong></p>
      <p><strong>Para adicionar:</strong> Na página inicial(Home), no navbar, clique em "Tarefas" e preencha os campos
      solicitados, clique em "Salvar". Após isso, você será redirecionado para a página de tarefas.
      <p><strong>Para editar:</strong> Na página de Tarefas, clique no ícone verde e preencha os campos que deseja modificar.
       Clique em "Salvar". Após isso, você será redirecionado para a página de tarefas.</p>
      <p><strong>Para deletar:</strong> Na página de Tarefas, clique no ícone vermelho. Surgirá uma mensagem 
      de confirmação da atividade.Confirme a atividade e você será redirecionado para a página de tarefas.</p>
      <p><strong>3. Como faço para adicionar/editar/remover uma entrada?</strong></p>
      <p><strong>Para adicionar:</strong> Na página de finanças, clique em "Entradas".Após clique em "Nova entrada" e preencha os campos solicitados,
      clique em "Salvar". Após isso, você será redirecionado para a página de Entradas.</p>
      <p><strong>Para editar:</strong> Na pagina de Entradas, clique no ícone verde e adicione os campos que deseja modificar. Clique em "Salvar". 
      Após isso, você será redirecionado para a página de Entradas.</p>
      <p><strong>Para deletar:</strong> Na página de Entradas, clique no ícone vermelho. Surgirá uma mensagem de confirmação da atividade.
      Confirme a atividade e você será redirecionado para a página de Entradas.</p>
      <p><strong>4. Como faço para adicionar/editar/remover uma saída?</strong></p>
      <p><strong>Para adicionar:</strong> Na página de finanças, clique em "Saídas".Após clique em "Nova saída" e preencha os campos solicitados,
      clique em "Salvar". Após isso, você será redirecionado para a página de Saídas.</p>
      <p><strong>Para editar:</strong> Na pagina de Saídas, clique no ícone verde e adicione os campos que deseja modificar. Clique em "Salvar". 
      Após isso, você será redirecionado para a página de Saídas.</p>
      <p><strong>Para deletar:</strong> Na página de Saídas, clique no ícone vermelho. Surgirá uma mensagem de confirmação da atividade.
      Confirme a atividade e você será redirecionado para a página de Saídas.</p>

  </div>
</div>