<div class="container">
  <div class="text-center mt-4">
    <h2>Quem somos</h2>
    <p>Somos uma aplicação que visa auxiliar na organização de tarefas diárias,
    bem como no controle de finanças.
    A ideia do Control+ surgiu por meio de três colegas de curso do Le Wagon,
    que resolveram criar um projeto para ajudar as pessoas nesses dois setores.
    Perceberam que isso era um problema recorrente na vida de muitas pessoas,
    devido a falta de tempo. Dessa forma, o Control+ surge com uma funcionalidade
    simples e prática para o usuário mudar de vida.</p>
    <h2>Recursos</h2>
    <p>blaanahaihaiahiahia   ahauhauhauhauah hauhauhaahua ahuuahauhaahauh ahahuaua
    blaanahaihaiahiahia   ahauhauhauhauah hauhauhaahua ahuuahauhaahauh ahahuaua
    blaanahaihaiahiahia   ahauhauhauhauah hauhauhaahua ahuuahauhaahauh ahahuaua
    </p>
    <h2>FAQ</h2>
      <h3>Perguntas frequentes</h3>
        <p><strong>1. Como faço para me cadastrar?</strong></p>
        <p>Na página inicial(Home), no navbar, clique em "Cadastre-se" e preencha os campos
        solicitados. Após isso, você será redirecionado para a página de login.</p>
        <p><strong>2. Como faço para adicionar/remover uma tarefa?<strong></p>
        <p><strong>3. Como faço para adicionar/remover uma entrada?<strong></p>
        <p><strong>4. Como faço para adicionar/remover uma saída?<strong></p></h3>
      <h3>Deixe sua mensagem, responderemos em breve!
      </h3>
  </div>
</div>