<!--Hey! This is the original version
of Simple CSS Waves-->
<div class="container">
  <div class="main-grid row d-none d-md-flex">
    <div class="main-card-1 col-12 col-md-6 col-sm-12">
      <h2 class="typing-demo mb-4"> Controle suas despesas e gerencie suas tarefas diárias</h2>
      <p >Faça a gestão de tarefas da forma mais eficiente para a sua rotina.
      Gerencie com precisão todas as despesas dos seus cartões de crédito, contas de bancos. </p>
      <h3 class="mt-4"> Tenha o controle total da sua vida! </h3>
      <div>
      <%= link_to "Cadastre-se", new_user_registration_path, class: "btn btn1 col-sm-3 col-xs-12 mt-4" %>
      </div>
    </div>

    <div class="main-card-2 col-12 col-md-4 col-sm-12">
      <%= image_tag 'home.jpg', class: "img-fluid" %>
    </div>
  </div>

  <div class="d-block d-md-none"  style="height: 10px;"></div>

  <div class="d-flex justify-content-center">
    <main class="col-md-10 cards">
        <section class="card contact">
            <div class="icon">
                <%# <img src="assets/despesas.svg" alt="Controle suas despesas">    %>
              <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/smauprql.json"
                  trigger="hover"
                  colors="primary:#0a522d"
                  style="width:75px;height:75px">
              </lord-icon>
            </div>
            <h3>Controle suas despesas</h3>
            <span>Gerencie com precisão todas as despesas dos seus cartões de crédito, contas de bancos, etc...
            Tenha o controle total da sua vida financeira.</span>
        </section>
        <section class="card shop">
            <div class="icon">
                <%# <img src="assets/tarefas.svg" alt="Shop here."> %>
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/aslgozpd.json"
                  trigger="hover"
                  colors="primary:#0a522d"
                  style="width:75px;height:75px">
              </lord-icon>
            </div>
            <h3>Gerencie suas tarefas diárias</h3>
            <span> Faça a gestão de tarefas da forma mais eficiente para a sua rotina.
            Acompanhe as datas em cada demanda e priorize o que realmente importa.</span>
        </section>
        <section class="card about">
            <div class="icon">
                <%# <img src="assets/metas.svg" alt="About us."> %>
              <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/spkantfu.json"
                  trigger="hover"
                  colors="primary:#0a522d"
                  style="width:75px;height:75px">
              </lord-icon>
            </div>
            <h3>Acompanhe suas metas</h3>
            <span>Crie metas e acompanhe sua evolução. Gerencie seus objetivos financeiros de curto,
            médio e longo prazo. Fique cada vez mais perto de alcançar seus sonhos e objetivos.
            </span>
        </section>
    </main>
  </div>

</div>
<!--Content before waves-->

<!--Waves Container-->
  <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(10,82,45,0.7)" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(10,82,45,0.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(10,82,45,0.3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(10,82,45,0.3)" />
          </g>
      </svg>
  </div>
