<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
<main class="cards">
        <section class="card contact">
            <div class="icon">
                <img src="assets/despesas.svg" alt="Controle suas despesas">
                
            </div>
            <h3>Controle suas despesas</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
        <section class="card shop">
            <div class="icon">
                <img src="assets/tarefas.svg" alt="Shop here.">
            </div>
            <h3>Gerencia suas tarefas diárias</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
        <section class="card about">
            <div class="icon">
                <img src="assets/metas.svg" alt="About us.">
            </div>
            <h3>Acompanhe suas metas</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
    </main>
<!--Content before waves-->

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(10,82,45,0.7)" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(10,82,45,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(10,82,45,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(10,82,45,0.3)" />
</g>
</svg>
</div>
</div>
