<div class="container">
  <div class="quem-somos-page">
    <h1 class="quem-somos-heading"><strong>Quem Somos</strong></h1>
      <div class="quem-somos">
        <p class="quem-somos-text">Somos uma aplicação que visa auxiliar na organização de tarefas diárias, bem como no controle de finanças. A ideia do Control+ surgiu por meio de três colegas de curso do Le Wagon São Paulo, que resolveram criar um projeto para ajudar as pessoas nestes dois quesitos. Perceberam que isso era um problema recorrente na vida de muitas pessoas, usualmente devido à falta de tempo. Dessa forma, o Control+ surge com uma funcionalidade simples e prática para o usuário poder mudar de vida.
        </p>
      </div>
  </div>
</div>
