<div class="container col-6">
  <div class="text-center mt-5 mb-5">
    <h2 class="mb-5">Quem somos</h2>
    <p>Somos uma aplicação que visa auxiliar na organização de tarefas diárias,
    bem como no controle de finanças.
    A ideia do Control+ surgiu por meio de três colegas de curso do Le Wagon,
    que resolveram criar um projeto para ajudar as pessoas nesses dois setores.
    Perceberam que isso era um problema recorrente na vida de muitas pessoas,
    devido a falta de tempo. Dessa forma, o Control+ surge com uma funcionalidade
    simples e prática para o usuário mudar de vida.</p>
  </div>
</div>
