<div class="container">
  <div class="resources-page">
    <h1 class="recursos-heading"><strong>Recursos</strong></h1>
    <section class="recursos-container">
      <div class="recursos-list">
        <h4 class="resource">Controle suas despesas</h4>
        <p class="resource-text">Gerencie com precisão todas as despesas dos seus cartões de crédito, contas de bancos, investimentos e muito mais! Tenha o controle total da sua vida financeira.
        </p>
        <h4 class="resource">Gerencie suas tarefas diárias</h4>
        <p class="resource-text"> Faça a gestão de tarefas da forma mais eficiente para a sua rotina. Acompanhe as datas de cada demanda e priorize o que realmente importa.
        </p>
        <h4 class="resource">Acompanhe suas metas</h4>
        <p class="resource-text">Crie metas e acompanhe sua evolução. Gerencie seus objetivos financeiros de curto, médio e longo prazo. Fique cada vez mais perto de alcançar seus sonhos e objetivos.
        </p>
      </div>
    </section>
  </div>
</div>
