<div class="container col-6">
  <div class=" mt-5 mb-5 text-center">
    <h1 class="mt-5 mb-5 text-center">Recursos</h1>
    <h4 class="mt-5">Controle suas despesas</h4>
      <span>Gerencie com precisão todas as despesas dos seus cartões de crédito, contas de tancos, etc...
      Tenha o controle total da sua vida financeira.</span>
    <h4 class="mt-5">Gerencie suas tarefas diárias</h4>
        <span> Faça a gestão de tarefas da forma mais eficiente para a sua rotina.
        Acompanhe as datas em cada demanda e priorize o que realmente importa.</span>
    <h4 class="mt-5">Acompanhe suas metas</h4>
        <span>Crie metas e acompanhe sua evolução. Gerencie seus objetivos financeiros de curto,
        médio e longo prazo. Fique cada vez mais perto de alcançar seus sonhos e objetivos.
        </span>
  </div>
</div>
