.btn1 {
    background-color: #0A522D;
    color: #fff;
    border-radius: 7px;
    margin-left: 10px;
}


.btn2 {
    background-color: #ffff;
    color: #0A522D;
    border-radius: 7px;
    border: #0A522D 1px solid;
}