.btn1 {
    background-color: #0A522D;
    color: #fff;
    border-radius: 7px;
    margin-left: 10px;
}

.btn1:hover {
    background-color:#145f38;
    color: #fff;
    transition: 0.7s;
}

.btn2 {
    background-color: #ffff;
    color: #0A522D;
    border-radius: 7px;
    border: #0A522D 1px solid;
}