#image-task {
  background-image: url(home.jpg);
  background-size: cover;
  height: 100vh;
  filter: brightness(0.8);
}



#image-finance {
  background-image: url(finances1.jpg);
  background-size: cover; 
  height: 100vh;
  filter: brightness(0.8);
}

.dashboard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px

}

.dashboard-button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
  