.dashboard-grid {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    justify-content: center;
  }
  
  .dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }
}
  