// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "logo";
@import "footer";
@import "background";
@import "header";
@import "button";
@import "login";
@import "form";


body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-shadow: 0.1;
}

h1, h3 {
  color: $dark-green;
}
