// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "logo";
@import "footer";
@import "background";
@import "headers";
@import "buttons";

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: $dark-green;
}
