#logo-edit {
  color: $dark-green;
  font-size: 20px;
  text-decoration: none;
}

#logo-trash {
  color: #B80E0E;
  font-size: 20px;
  text-decoration: none;
}

#logo-calendar {
  color: $dark-green;
}
