.navbar-lewagon {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0A522D;
  border-bottom: 1px solid #F3F3F3;
  padding: 15px 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link {
  color: #0A522D;
  font-size: 0.8rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #0A522D;
    font-size: 1.5rem;
  }

}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: #0A522D;
  font-size: 1.0rem;
  margin-left: 10px;
  margin-right: 10px;

  i:hover {
    color: #69947e;
  }

  &:hover {
    color: #69947e;
  }
}

.menu-font {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
