.navbar-lewagon {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0A522D;
  border-bottom: 1px solid #F3F3F3;
  padding: 15px 30px;
}

@media (max-width:641px)  {
  .navbar-lewagon {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .navbar-lewagon .navbar-brand {
    padding: 5px 10px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

// @media (max-width:641px)  {
//   .navbar-lewagon .navbar-brand {
//     width: 80px !important;
//     overflow: hidden;
//   }
// }

.nav-link {
  color: #0A522D;
  font-size: 0.8rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #0A522D;
    font-size: 1.5rem;
  }
}

@media (max-width:641px)  {
  .navbar-sign-in {
    box-shadow: 0px -5px 15px #888;
    background: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: #0A522D;
  font-size: 1.0rem;
  margin-left: 10px;
  margin-right: 10px;

  i:hover {
    color: #69947e;
  }

  &:hover {
    color: #69947e;
  }
}

.menu-font {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}


.nav-menu-avatar {
  display: flex;
  justify-content: end;
  gap: 10px;
  text-decoration: none;
  color: #0A522D;
  font-size: 1.0rem;
  margin-left: 10px;
  margin-right: 10px;

  i {
    font-size: 18px;
  }

  i:hover {
    color: #69947e;
  }

  &:hover {
    color: #69947e;
  }
}

.menu-font-avatar {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}