.navbar-lewagon {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px;
  color: #0A522D;
  border-bottom: 1px solid #F3F3F3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: #fff;
}

.nav-link {
  color: #0A522D;
  font-size: 1.2rem;
}






