.thead {
  position: sticky;
  top: 0;
  background-color: #d7d7d7;
  width: 100%;
}

.w-8rem {
  width: 8rem;
}

tbody {
  padding: 0px;
  .draggable {
    will-change: transform;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    list-style-type: none;
    background-color: white;
    width: 250px;
    padding-left: 10px;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    margin: 10px auto;
    position: relative;
    &:hover {
      &:after {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}

.over {
transform: scale(1.1, 1.1);
}
